/* 
@tag: h1
@component: Title
*/
.event_title {
  font-family: 'Pirata One';
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.6;
}

/* 
@tag: p
@component: Paragraph
align?: left | center | right
*/
.event_paragraph {
  font-size: 1.1rem;
  line-height: 1.4;
  max-width: 50ch;
  text-align: center;

  &.left {
    text-align: left;
  }
  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
}
