/* 
@tag: div
@component: Container
p?: 40px --padding
*/
.container {
  --padding: 40px;
  --background: #fff;
  position: relative;
  padding: var(--padding);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
@tag: div
@component: BackgroundImage
src: unset --src
*/
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--src);
  background-size: 100% 100%;
  z-index: -1;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 50);
    mix-blend-mode: screen;
  }
}

/* 
@tag: h1
@component: Title
color?: #fff --color
noBlending?: true no-blending
*/
.title-text {
  --color: #fff;
  font-size: 2.5rem;
  color: var(--color);
  mix-blend-mode: difference;

  &.no-blending {
    mix-blend-mode: normal;
  }

  & + p {
    margin-top: 20px;
  }
}

/* 
@tag: p
@component: Text
color?: #fff --color
noBlending?: true no-blending
*/
.paragraph-text {
  --color: #fff;
  font-size: 1.4rem;
  color: var(--color);
  mix-blend-mode: difference;

  &.no-blending {
    mix-blend-mode: normal;
  }
}

/* 
@tag: button
@component: Button
variant?: small | normal
*/
.button {
  appearance: none;
  border: 1px solid hsl(0, 5%, 90%);
  background-color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;

  &.small {
    font-size: unset;
    border-radius: 8px;
    transition: box-shadow .2s;

    &:hover {
      box-shadow: 0 0 14px -3px hsl(0, 15%, 90%);
    }
  
    &:active {
      box-shadow: 0 0 6px -3px hsl(0, 15%, 90%);
    }
  }

  &:not(.small):hover {
    outline: 1px solid hsl(0, 5%, 85%);
  }

  * + & {
    margin-top: 40px;
  }
}
