@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/jade.css';

/* 
*/
.toggle_group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 6px;
}

/*
active?: true
*/
.toggle_item {
  border: 1px solid var(--gray-6);
  border-radius: 6px;
  background-color: transparent;
  padding: 14px;
  cursor: pointer;
  transition: outline, border-color .2s;

  &.active {
    border-color: var(--jade-8);
    outline: 1px solid var(--jade-8);
  }
}
